// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
  &kp Q        &kp W       &kp E        &kp R       &kp T        &kp Y        &kp U          &kp I        &kp O       &kp P
  &ht LSHFT A  &ht LALT S  &ht LCTRL D  &ht LGUI F  &kp G        &kp H        &ht RGUI J     &ht RCTRL K  &ht RALT L  &ht RSHFT SQT
  &kp Z        &kp X       &kp C        &kp V       &kp B        &kp N        &kp M          &kp COMMA    &kp DOT     &kp FSLH
                                        &lt 2 TAB   &kp SPACE    &lt 1 ENTER  &kp BACKSPACE
            >;
        };

        quick_access {
            bindings = <
  &kp GRAVE                   &kp RA(N8)        &kp RA(N7)  &kp RA(N0)        &kp RA(Q)    &kp HASH         &kp ASTERISK    &kp LEFT_PARENTHESIS      &kp RA(N9)         &kp RIGHT_PARENTHESIS
  &mt LSHFT MINUS             &kp SINGLE_QUOTE  &kp SEMI    &kp LEFT_BRACKET  &kp RA(E)    &kp AT_SIGN      &kp DOLLAR      &kp CARET                 &kp RIGHT_BRACKET  &mt RSHFT RIGHT_BRACE
  &mt LCTRL NON_US_BACKSLASH  &kp X             &kp C       &kp V             &none        &kp EXCLAMATION  &kp UNDERSCORE  &kp RA(NON_US_BACKSLASH)  &kp SLASH          &mt RCTRL LS(NON_US_BACKSLASH)
                                                            &trans            &trans       &none            &kp DEL
            >;
        };

        navigation {
            bindings = <
  &kp ESCAPE    &none           &none      &none         &none              &kp PAGE_UP    &kp HOME  &kp UP_ARROW  &kp END    &kp F12
  &kp CAPSLOCK  &kp LEFT_SHIFT  &kp LCTRL  &kp LEFT_ALT  &kp PRINTSCREEN    &kp PAGE_DOWN  &kp LEFT  &kp DOWN      &kp RIGHT  &kp F11
  &kp F1        &kp F2          &kp F3     &kp F4        &kp F5             &kp F6         &kp F7    &kp F8        &kp F9     &kp F10
                                           &none         &none              &none          &none
            >;
        };
    };
};
