// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
  &kp Q        &kp W       &kp E        &kp R       &kp T        &kp Y      &kp U          &kp I        &kp O       &kp P
  &ht LSHFT A  &ht LALT S  &ht LCTRL D  &ht LGUI F  &kp G        &kp H      &ht RGUI J     &ht RCTRL K  &ht RALT L  &ht RSHFT SQT
  &kp Z        &kp X       &kp C        &kp V       &kp B        &kp N      &kp M          &kp COMMA    &kp DOT     &kp FSLH
                                        &sl 1       &kp SPACE    &kp ENTER  &kp BACKSPACE
            >;
        };

        quick_access {
            bindings = <
  &none           &none     &kp RA(RC(N7))  &kp RA(RC(N0))  &none    &none  &none  &none  &none  &none
  &kp LEFT_SHIFT  &kp LBKT  &kp SEMI        &kp SQT         &none    &none  &none  &none  &none  &kp RIGHT_SHIFT
  &none           &none     &none           &none           &none    &none  &none  &none  &none  &none
                                            &trans          &none    &none  &none
            >;
        };
    };
};
